* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
}

.nav-items > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.nav-items {
  display: flex;

  /* opacity: .5; */
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.navUL {
  display: flex;
  align-items: center;
  list-style: none;
}

.navUL > li {
  padding-left: 3rem;
  text-decoration: none;
  font-size: x-large;
  font-weight: 700;
}

.navUL > li > a {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 1.213rem;
  color: #121212;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.icon-btn {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  font-size: 1.8rem;
  color: #0290ff;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}
